#popular {
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
  margin: auto;
  margin-top: 20px;
}
#central {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
#sortBar {
  border: 1px lightgrey solid;
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#sortBar div {
  margin: 10px;
}
.postsList {
  list-style: none;
  padding: 0;
}
.postsList li {
  display: flex;
  margin-top: 10px;
  color: black;
  background-color: white;
  border-radius: 20px;
}
.votesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
  background-color: rgb(250, 249, 249);
  padding-left: 2.5%;
  border-radius: 10px 0 0 10px;
}
.postContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 2.5%;
}
.postContainer div {
  padding-bottom: 10px;
}
.postSubReddit {
  color: black;
}
.postTitle {
  font-size: 20px;
}
.postContent {
  font-size: small;
}
.postImageContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}
.postImage {
  width: 45%;
  height: 60%;
}

#sidebar {
  background-color: white;
}

.commentList {
  padding: 0;
}
.comment {
  font-size: small;
}

form {
  margin-top: 5px;
}
