.trendingContainer {
  /* background-color: orange; */
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 50px;
  height: 180px;
  margin-left: 15%;
  margin-right: 15%;
}

.trendingHeadline {
  display: flex;
  align-items: flex-end;
  margin: 0;
  height: 120px;
  font-size: medium;
  color: white;
}

.trendingTopics {
  font-size: xx-small;
  color: white;
}

#card1 {
  background-image: linear-gradient(
      to bottom,
      #f9f9fa00,
      rgba(109, 107, 108, 0.632)
    ),
    url("images2/reddit-image1.jpg");
  /* back ground image url("images2/reddit-image1.jpg") */
  background-size: cover;
  border-radius: 5%;
  width: 250px;
}

#card2 {
  background-image: linear-gradient(
      to bottom,
      #f9f9fa00,
      rgba(109, 107, 108, 0.632)
    ),
    url("images2/redditimage2.jpg");
  /* background-image: url("images2/redditimage2.jpg"); */
  background-size: cover;
  border-radius: 5%;
  width: 250px;
}

#card3 {
  background-image: linear-gradient(
      to bottom,
      #f9f9fa00,
      rgba(109, 107, 108, 0.632)
    ),
    url("images2/redditimage3.jpg");
  /* background-image: url("images2/redditimage3.jpg"); */
  background-size: cover;
  border-radius: 5%;
  width: 250px;
}

#card4 {
  background-image: linear-gradient(
      to bottom,
      #f9f9fa00,
      rgba(109, 107, 108, 0.632)
    ),
    url("images2/redditimage4.jpg");
  /* background-image: url("images2/redditimage4.jpg"); */
  background-size: cover;
  border-radius: 5%;
  width: 250px;
}

/* margin-top: 118px;
     margin-left: 5px; */
